
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 10px; */
    /* 10 / 16 = 0,625 percentage of users browser font-size setting */
    font-size: 62.5%;
  }
  
  body {
    font-family: "Tajawal", sans-serif;
    line-height: 1;
    font-weight: 500;
    color: #555;
    background-color: #fdeee7;
  }

/***************************** */
/* GENERAL REUSABLE COMPONENTS */
/***************************** */

.container {
    /* 1140px */
    max-width: 130rem;
    margin: 0 auto;
  
    padding: 0 3.2rem;
  }

  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    height: 95%;
    width: auto;
    padding-bottom: 2%;
  }

  .heading-primary {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: #4b1919;
  }
  
  .heading--centered {
    text-align: center;
  }
  
  .heading-secondary {
    color: #4b1919;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  .no-bottom-margin {
    margin-bottom: 1rem;
  }

  .heading-tertiary {
    color: #4b1919;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2.4rem;
    line-height: 1.15;
  }
  
  .heading--upper {
    text-transform: uppercase;
  }